*.log
*.swo
*.swp
nohup.out
config/database.yml
db/sphinx
db/schema.rb
public/system
public/attachment_metadatas
!.gitkeep
tmp/*
seema_pdf_doc
public/javascripts/*.zip
public/javascripts/js.js
public/stylesheets/all_styles.css
doc/wireframes
*.*~
Gemfile.lock
