<p>
  <b>Departamento:</b>
  <%=h @departamento.departamento %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @departamento.descripcion %>
</p>


<%= link_to 'Editar', edit_departamento_path(@departamento) %> |
<%= link_to 'Atras', departamentos_path %>