<ul id="navigation">
	
  <li>
  	<a href="/proveedors">Proveedores</a>
  </li>
	<li>
		<a href="/clientes">Clientes</a>
	</li>
	<li>
		<a href="/carpetas">Carpetas</a>
	</li>
	<li>
		<a href="/documentos">Documentos</a>
	</li>
	<li>
		<a href="/liquidacions">Liquidaciones</a>
	</li>
	<li>
		<a href="/seguimientos">Seguimiento</a>
	</li>
	<li>
		<a href="/consultas">Consultas</a>
	</li>
	<li>
		<a href="/personals">Personal</a>
	</li>
	<li>
		<a href="/usuarios">Usuarios</a>
	</li>
	<li>
		<a href="/paises">Paises</a>
	</li>
  <li>
  	<a href="/logout">Salir</a>
  </li>
</ul>
